/* colors
#f5f3f4
#fffff
#efd0bc
black */
/* #e9edc9 */
/* #778da9 */
/* #d5b9b2 */
/* #d8e2dc */
/* #f2e9e4 */
/* #b7b7a4 */
/* #e0dfd5 */

/* ---------index.html ----------- */
/* ------------HEADER-------------- */

* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  width: auto;
  padding-top: 100px;
  padding-bottom: 300px;
  background-image: url(/styles/photos/simple.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border: 1px solid black;
}

.layer {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.home-btn {
  display: block;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  border: 5px solid black;
  padding: 20px 60px;
  border-radius: 10px;
  letter-spacing: 4px;
  text-decoration: none;
  margin-top: 100px;
  cursor: pointer;
  transition: all 0.5s;
}

.home-btn:hover {
  background-color: #efd0bc;
  color: black;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.main-p {
  padding-top: 720px;
  font-size: 20px;
}
/* --------------Te-Houtaewa------------*/

.te-houtaewa {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 100px;
  letter-spacing: 3px;
  background-color: #d8e2dc;
  margin-top: 100px;
  border: 3px solid #e9edc9;
  border-radius: 3px;
}
/* ------------ABOUT BLOG-------------- */

.main-link {
  width: auto;
  display: grid;
  grid-template-columns: 30% 30%;
  justify-content: center;
  margin-top: 100px;
  background-color: #d8e2dc;
  padding: 200px 0;
  gap: 150px;
  letter-spacing: 3px;
  border-radius: 3px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

h3 {
  font-weight: 600;
}
.home-identity {
  display: inline;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 100px 70px;
  background-color: #778da9;
  color: #ffffff;
}

.home-learning {
  display: inline;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 100px 70px;
  background-color: #d5b9b2;
  color: #ffffff;
}

.identity-btn,
.learning-btn {
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 3px;
  margin-top: 20px;
}

.identity-btn:hover,
.learning-btn:hover {
  background-color: #efd0bc;
  color: black;
  cursor: pointer;
}

/* ------------FOOTER------------- */

.footer {
  width: auto;
  padding: 100px 0;
  background-color: #f2e9e4;
  margin-top: 100px;
}

h2 {
  width: auto;
  display: block;
  text-align: center;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 100px;
  letter-spacing: 3px;
}

.blog-links {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.left-footer {
  width: 30%;
  border: 1px solid black;
  border-radius: 3px;
}

.right-footer {
  font-size: 20px;
  width: 30%;
  border: 1px solid black;
  border-radius: 3px;
  background-color: bisque;
}

.right-footer h2 {
  font-size: 30px;
  padding: 20px 40px;
  margin: 40px 0;
}
.right-footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  padding-left: 40px;
}
.right-footer li {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.te-houtaewa-link {
  padding-top: 50px;
}

.te-houtaewa-link:hover {
  text-decoration: underline;
}

.home {
  display: flex;
  margin-top: 150px;
}

.home:hover {
  text-decoration: underline;
}
.icon {
  padding-right: 10px;
}

/* ---------------html-css.html-------------*/

.display-section {
  width: auto;
  padding-bottom: 100px;
}

.inline-vs {
  display: block;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 40px;
  letter-spacing: 5px;
  background-color: #d8e2dc;
  border: 3px solid black;
  border-radius: 3px;
}

.main-content {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inline {
  width: 60%;
  border: 1px solid black;
  margin-top: 50px;
  padding: 0 50px;
}
.block {
  width: 60%;
  border: 1px solid black;
  margin-top: 50px;
  padding: 0 50px;
}

.inline-block {
  width: 60%;
  border: 1px solid black;
  margin-top: 50px;
  padding: 0 50px;
}
.example {
  width: 60%;
  border: 1px solid black;
  margin-top: 50px;
  padding: 0 50px;
}

.photo-inline {
  width: 60%;
  padding: 50px 0;
}

.photo-in-block {
  width: 60%;
  padding: 50px 0;
}

.photo-block {
  width: 60%;
  padding: 50px 0;
}

.photo-example {
  width: 60%;
  padding: 50px 0;
}

.html-css-link {
  display: flex;
}
.html-css-link:hover {
  text-decoration: underline;
}

/* -------------Identity, Values & Strengths----------------- */

.identity {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 200px 10px;
  letter-spacing: 3px;
  font-size: 20px;
  background-color: #778da9;
  margin-top: 100px;
  border: 3px solid #d5b9b2;
  border-radius: 3px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
}

.identity div {
  padding: 20px 0;
}
.identity h3 {
  font-size: 40px;
  padding-bottom: 50px;
}

.identity-link {
  display: flex;
}

.identity-link:hover {
  text-decoration: underline;
}

/* ---------Learning Plan--------- */

.teWhare {
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 3px;
  margin: 100px 20px 80px;
  padding: 100px 0;
  letter-spacing: 3px;
  background-color: #9ba390;
}

.teWhare img {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 60px;
}

.teWhare h1 {
  font-size: 60px;
  font-weight: 900;
  padding-bottom: 100px;
  color: #fff;
  text-decoration: underline;
}

.teWhare-plan {
  width: 80%;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}
.teWhare-plan h2 {
  font-size: 30px;
  color: #3d4c2a;
  padding-top: 40px;
}
.teWhare-plan p {
  font-size: 20px;
  font-weight: 400;
  color: #3d4c2a;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.teWhare-plan hr {
  width: 80%;
}

.learning-plan {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 200px 20px;
  letter-spacing: 3px;
  font-size: 20px;
  background-color: #d5b9b2;
  color: #ffffff;
  border: 3px solid #778da9;
  border-radius: 3px;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.learning-plan div {
  padding: 20px 0;
}
.learning-plan h3 {
  font-size: 40px;
  padding-bottom: 50px;
}

.learning-plan-link {
  display: flex;
}

.learning-plan-link:hover {
  text-decoration: underline;
}

/* -------------Emotional-intelligence------------- */

.emotional {
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 3px;
  border: 3px solid black;
  border-radius: 3px;
  margin: 150px 20px;
  padding: 50px 50px;
  font-size: 20px;
}

.eq h1 {
  margin: 100px 0 70px 0;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #778da9;
  font-weight: 600;
  font-size: 60px;
}

.eq p {
  margin-left: 50px;
  margin-right: 50px;
}

.mindful h1 {
  margin: 100px 0 70px 0;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #d5b9b2;
  font-weight: 600;
  font-size: 60px;
}
.mindful p {
  padding-bottom: 50px;
}
.mindful ul li {
  padding: 20px;
  list-style-type: none;
}
.mindful h3 {
  margin-top: 80px;
}
.emotional-link:hover {
  text-decoration: underline;
}

/* -----------JAVASCRIPT-DOM--------------- */

.javascript-dom {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  letter-spacing: 3px;
}

.javascript-dom p {
  font-size: 20px;
}

.javascript-dom h1 {
  font-size: 30px;
}

.javascript-dom h2 {
  padding-top: 30px;
  text-decoration: underline;
}

.relationship {
  border: 3px solid black;
  padding: 100px 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  background-color: #778da9;
  color: #fff;
}

.control-flow {
  border: 3px solid black;
  padding: 100px 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  background-color: #d8e2dc;
}

.function {
  border: 3px solid black;
  padding: 100px 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  background-color: #d5b9b2;
  color: #fff;
}

.dom {
  border: 3px solid black;
  padding: 100px 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  background-color: #efd0bc;
}

.function p {
  padding-top: 100px;
}

.dom p {
  padding-top: 100px;
}

.dom h4 {
  padding-top: 50px;
}

.dom h3 {
  padding-top: 50px;
  padding-bottom: 10px;
}

.dom h5 {
  padding-top: 40px;
}

.javascript-dom-link:hover {
  text-decoration: underline;
}

.img-1 {
  height: 500px;
  width: 650px;
  margin-top: 40px;
}
.img-2 {
  height: 500px;
  width: 650px;
  margin-top: 40px;
}
.img-3 {
  height: 500px;
  width: 650px;
  margin-top: 40px;
}
.img-4 {
  height: 500px;
  width: 650px;
  margin-top: 40px;
}

/* ---------Neuroplasticity ------------- */

.neuroplasticity {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 20px;
  letter-spacing: 3px;
  background-color: #b7b7a4;
}

.neuroplasticity h1 {
  font-weight: 900;
  font-size: 50px;
  padding-top: 50px;
}

.neuroplasticity h2 {
  padding-top: 40px;
}
.neuroplasticity p {
  font-size: 20px;
  padding: 10px;
}

.neuroplasticity ul {
  list-style-type: none;
  font-size: 20px;
  padding-right: 40px;
  margin-bottom: 80px;
}

.neuroplasticity ul li a {
  text-decoration: underline;
}

.growth-mindset {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #e0dfd5;
}

.growth-mindset h2 {
  padding-top: 40px;
}

.growth-mindset p {
  font-size: 20px;
}
.growth-mindset ul {
  list-style-type: none;
  font-size: 20px;
  text-decoration: underline;
  padding-right: 40px;
  margin-bottom: 80px;
}

.growth-mindset h1 {
  font-weight: 900;
  font-size: 50px;
  padding-top: 50px;
}

.neuroplasticity-link:hover {
  text-decoration: underline;
}

/* ------------MEDIA---------- */

@media (max-width: 1327px) {
  .home-btn {
    font-size: 50px;
  }
}
@media (max-width: 740px) {
  .home-btn {
    font-size: 40px;
  }
  .main-p {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

@media (max-width: 625px) {
  .layer {
    height: 650px;
  }
  .home-btn {
    font-size: 30px;
    padding: 20px 30px;
  }
  .main-p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .home-btn {
    font-size: 24px;
  }
}

@media (max-width: 420px) {
  .home-btn {
    font-size: 18px;
  }
}

@media (max-width: 350px) {
  .home-btn {
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  .main-link {
    grid-template-columns: 0.8fr;
  }
}

@media (max-width: 750px) {
  .footer h4 {
    font-size: 15px;
  }
}

@media (max-width: 640px) {
  .footer h4 {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 630px) {
  .inline-vs {
    font-size: 18px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 2235px) {
  .blog-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding-bottom: 100px;
  }
  .left-footer {
    width: 80%;
    margin-bottom: 100px;
  }
  .right-footer {
    width: 80%;
    padding-bottom: 100px;
  }
  .right-footer ul {
    padding-right: 40px;
  }
}
@media (max-width: 725px) {
  .right-footer h2 {
    font-size: 17px;
    padding: 0 10px;
  }
  .right-footer {
    font-size: 13px;
  }
}

@media (max-width: 504px) {
  .learning-plan h3 {
    font-size: 16px;
  }
  .learning-plan {
    font-size: 13px;
  }
}
@media (max-width: 504px) {
  .identity h3 {
    font-size: 16px;
  }
  .identity {
    font-size: 13px;
  }
}

@media (max-width: 850px) {
  .javascript-dom img {
    width: 400px;
    height: 350px;
  }
}

@media (max-width: 572px) {
  .javascript-dom img {
    width: 250px;
    height: 300px;
  }
}
@media (max-width: 414px) {
  .javascript-dom img {
    width: 180px;
    height: 200px;
  }
}
@media (max-width: 344px) {
  .javascript-dom img {
    width: 140px;
    height: 180px;
  }
}

@media (max-width: 618px) {
  .neuroplasticity h1 {
    font-size: 30px;
  }
}

@media (max-width: 460px) {
  .neuroplasticity h1 {
    font-size: 18px;
  }
  .neuroplasticity h2 {
    font-size: 15px;
  }
  .neuroplasticity p {
    font-size: 15px;
  }
  .neuroplasticity ul {
    font-size: 15px;
  }
}
@media (max-width: 618px) {
  .neuroplasticity h1 {
    font-size: 30px;
  }
}

@media (max-width: 460px) {
  .growth-mindset h1 {
    font-size: 18px;
  }
  .growth-mindset h2 {
    font-size: 15px;
  }
  .growth-mindset p {
    font-size: 15px;
  }
  .growth-mindset ul {
    font-size: 15px;
  }
}
@media (max-width: 870px) {
  .teWhare h1 {
    font-size: 30px;
  }
  .teWhare-plan h2 {
    font-size: 20px;
  }
  .teWhare-plan p {
    font-size: 15px;
  }
}
